/*
    Document   : widgetrelateddiscussion
    Created on : Jun 10, 2012, 12:03:33 PM
    Author     : Justin
    Description:
        Purpose of the stylesheet follows.
*/

/** For the table.css**/
#RelatedThreadsTable .Title{
    padding-left: 10px;
}
#RelatedThreadsTable th{
    background-color: #222222;
}
.DiscussionAuthor {
    color: white;
}


/** For the Table **/

#RelatedThreadsTable{
    width: 100%;
}
#RelatedThreadsTable td{
    vertical-align: top;
}
#RelatedThreads{
    background: none repeat scroll 0 0 #151515;
    border-color: #333333;
    border-style: none solid solid;
    border-width: medium 1px 1px;

    border-top: none;
    margin-bottom: 5px;

    -moz-box-shadow:0 2px 8px 4px #000;
    -webkit-box-shadow:0 2px 8px 4px #000;
    box-shadow:0 2px 8px 4px #000;
}
#RelatedThreads h4{
    font-size: 12px;
}
.DiscussionAuthor a {
    border-bottom: 1px dotted #777777;
    color: #777777 !important;
}
#Header_Related{
    color: #FFFFFF;

    background: -moz-linear-gradient(center top , #333333, #000000) repeat scroll 0 0 transparent !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#000000');
    border-bottom: medium none #555555;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    padding: 2px 0px 2px 12px;
    zoom: 1;

    -moz-box-shadow:0 2px 8px 4px #000;
    -webkit-box-shadow:0 2px 8px 4px #000;
    box-shadow:0 2px 8px 4px #000;
}
div.DiscussionInfo{
    width: 500px;
    margin-left: 10px;
    line-height: 15px;
    margin-bottom: 5px;
}
/* Result Row */
.UserInfo{
    clear: both;
    float: left;
    height: auto !important;
    padding: 3px 0;
    width: 100%;
}
.UserInfo a{
    color: #73D1FF;
}
.DiscussionAuthor{
    color: #555555;
    font-size: 10px;
}
.Contact{
    display: inline-block;
    height: auto !important;
    clear: right;
    display: block;
    float: left;
    position: relative;
    width: 70%;
}
.UserInfoExtra {
    float: right;
    font-size: 11px;
    text-align: right;
    width: 100px;
    margin-right: 10px;
}
.userstats{
    float: right;
    width: 100px;
    line-height: 15px;
    font-size: 10px;
    margin-top: -5px;
}
.userstats dd{
}
.userstats .Views{
    border-top: 1px solid #555555;
}
.UserInfoExtra dt{
    display: block;
    float: left;
    text-align: right;
    color: #555555;
}
.UserInfoExtra dd{
    padding: 1px 0px;
}

